<section class="breadcrumb breadcrumb_bg">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb_iner text-center">
                    <div class="breadcrumb_iner_item">
                        <h2>Guides</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="chefs_part blog_item_section section_padding">
    <div class="container">
        <div class="row">
            <div class="col-xl-5">
                <div class="section_tittle">
                    <p>Team Member</p>
                    <h2>Our Experience Guides</h2>
                </div>
            </div>
        </div>
        <div class="row">

            <div *ngFor='let g of guides' class="col-lg-4">
                <app-guide [g]='g'></app-guide>
            </div>
        </div>
    </div>
</section>