<section class="food_menu gray_bg">
    <div class="container">
        <div class="row justify-content-between">
            <div class="col-lg-5">
                <div class="section_tittle">
                    <h2>Disponible circuits</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div *ngFor='let c of circuits' class="col-sm-6 col-lg-6">
                <app-circuit [x]='c'></app-circuit>
            </div>

        </div>
    </div>
</section>