<section class="breadcrumb breadcrumb_bg">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb_iner text-center">
                    <div class="breadcrumb_iner_item">
                        <h2>Add Guide</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<pre class="tab"></pre>
<div class="site-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <form #guideForm='ngForm' (ngSubmit)='addGuide()'>
                    <div class="form-group">
                        <input type="text" class="form-control" [(ngModel)]='guide.fName' [ngModelOptions]="{standalone: true}" placeholder="First Name">
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" [(ngModel)]='guide.lName' [ngModelOptions]="{standalone: true}" placeholder="Last Name">
                    </div>
                    <div class="form-group">
                        <input type="number" class="form-control" [(ngModel)]='guide.tel' [ngModelOptions]="{standalone: true}" placeholder="Tel">
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" [(ngModel)]='guide.description' [ngModelOptions]="{standalone: true}" placeholder="Description">
                    </div>

                    <div class="form-group">
                        <input type="submit" class="btn btn-primary py-3 px-5" value="Add Guide">
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>