<table class="table table-bordered table-dark">
    <tr *ngIf='c==0'>
        <th>ID</th>
        <th>first name</th>
        <th>last name</th>
        <th>phone</th>
        <th>description</th>
        <th> delete</th>
        <th> edit</th>
        <th> display</th>
    </tr>



    <tr>
        <td>{{g._id}}</td>
        <td>{{g.fName}}</td>
        <td>{{g.lName}}</td>
        <td>{{g.tel}}</td>
        <td>{{g.description}}</td>

        <td>
            <button class='btn btn-danger' (click)="deleteGuide(g._id)">delete</button>
        </td>
        <td>
            <button class='btn btn-danger' (click)="editGuide(g._id)">edit</button>
        </td>
        <td>
            <button class='btn btn-danger' (click)="displayGuide(g._id)">Display</button>
        </td>
    </tr>
</table>